<div class="top-bar">
  <button (click)="registro()">Register</button>
  <button (click)="login()">Login</button>
</div>
<div class="container">
  <div class="passkeys-section">
    <h1>Welcome to Passkeys Application</h1>
    <p>Experience the future of secure authentication with passkeys.</p>
    <div class="input-container">
      <input [(ngModel)]="username" placeholder="Username" />
      <input [(ngModel)]="firstName" placeholder="First Name" />
      <input [(ngModel)]="lastName" placeholder="Last Name" />
      <input [(ngModel)]="email" placeholder="Email" />
      <input [(ngModel)]="deviceName" placeholder="Device Name" /> <!-- Add deviceName field -->
    </div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </div>
  <div class="background-tooltip">
    <strong>What are passkeys?</strong>
    <p>Passkeys provide a secure and convenient way to authenticate without the need for passwords. They are resistant to phishing attacks and offer a seamless user experience.</p>
  </div>
</div>
